body {
    margin: 0;
    font-family: Arial;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.logo {
    color: #3b5bdb;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #4CAF50;
}

.hero-section {
    background-size: cover;
    background-position: center;
    height: 550px;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 100, 0, 0.6);
    height: 100%;
    display: flex;
    align-items: center;
}





.dashboard-section {
    padding: 60px;
    text-align: center;
}

.tableau-wrapper {
    margin-top: 30px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
}

.contact {
    padding: 60px;
    text-align: center;
}

button {
    background: #4CAF50;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}
